body{
	font-family: Arial;
	background-image: url("../img/fondo.png");
	color:  #000;


}

header{
	color: #FFF;
	text-align: center;
	background-image: url("../img/fondo1.png");
	height: 150px;
	margin-top: -20px;

}

img{
	height: 150px;
	border-style: solid;
	border-color: #000;
	margin: 10px 25px 10px 20px;
	float: left;
	
	
}

